.content {
    display: grid;
    gap: 1rem; 
    justify-items: center; 
    place-content: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.content section article h5 a:hover {
    color: #66666685!important;
}

.content section {
    max-width: 1024px;
}

.content section article {
    padding-top: 1.8rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem; 
    margin-left: 1.2rem;
    margin-right: 1.2rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    background-color: var(--content-background);
    box-shadow: 0px 20px 25px -6px rgba(0,0,0,0.1), 0px 10px 10px -6px rgba(0,0,0,0.17), 0px -10px 10px -6px rgba(0,0,0,0.17), 0px -20px 25px -6px rgba(0,0,0,0.1), -20px 0px 25px -6px rgba(0,0,0,0.1), -10px 0px 10px -6px rgba(0,0,0,0.17), 20px 0px 25px -6px rgba(0,0,0,0.1), 10px 0px 10px -6px rgba(0,0,0,0.17);
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content section article p {
    text-align: center;
    max-width: 400px;
}

.content section article a{
    color: #808080;
    line-height: 2.5rem;
}

.content section article a:hover{
    color: #444444;
    line-height: 2.5rem;

}

.content section article h5 {
    margin-top: 0; 
    margin-bottom: 1rem; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
    text-align: center; 
    color: var(--content-title); 
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 1px 1px;
}



.article p {
    color: var(--text-color);
}

@media (min-width: 1280px) {

    .content section {
        max-width: 1280px;
    }

    .content section article {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    

    
}

@media (max-width: 900px) {

    .content {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .content section article {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
}

.body-fix h5 {
    text-shadow: #131313a4 1.7px 1.7px 1px;
}