.navbar {
    position: fixed;
    background-color: var(--nav-color);
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav-center-side {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-right-side {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 1.1rem;
    color: var(--text-color);
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    height: 3px;
    background: var(--hover-color);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.logo::after {
    top: 35px;
}

.nav-links a:hover::after {
    transform: scaleX(0.8);
}

.nav-links a.active::after {
    transform: scaleX(0.5);
    background: var(--nav-line);
}

.nav-links a.active:hover::after{
    transform: scaleX(0.8);
    background: var(--hover-color);
}

.theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.theme-toggle i {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
}

.theme-toggle.active i.sun {
    opacity: 0;
    pointer-events: none;
}

.theme-toggle.active i.moon {
    opacity: 1;
    pointer-events: auto;
}

.theme-toggle i.sun {
    opacity: 1;
    pointer-events: auto;
}

.theme-toggle i.moon {
    opacity: 0;
    pointer-events: none;
}

.menu-toggle {
    display: none;
}