.typer-container {
    position: absolute;
    max-width: 1024px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.typer-container h1 {
    color: #CCC;
    text-shadow: #686868 5px 3px;
    font-size: 3.8em;
    width: 100%;
    margin: auto;
    font-weight: 600;
}

.typer-container span {
    color: var(--main-color);
    text-shadow: #3f1616 5px 3px;
}

body.light .typer-container h1 {
    color: var(--text-color-lg);
    text-shadow: #2e2e2e 5px 3px;
}