@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #d33030;
    --hover-color: #e25d5d;
    --text-color: #CCC;
    --nav-color: #242526;
    --body-color: #2e2e2e;
    --side-nav: #242526;
    --search-text: #CCC;
    --search-bar: #242526;
    --text-color-lg: #F2F2F2;
    --nav-line: #e13e3e;
    --content-color: #525252;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
    transition: all 0.4s ease;
}

body {
    background-color: var(--body-color);
    height: 100vh;
    color: var(--text-color);
}


.norm-txt {
    font-size: .95rem;
    line-height: 1.5rem;
}

.norm-txt-dk {
    font-size: .95rem;
    line-height: 1.5rem;
    color: #374151;
}

.body-fix {
    display: grid;
    position: relative; 
    gap: 1rem; 
    justify-items: center; 
    place-content: center; 
    height: 100vh;
    background: var(--body-color);
}