@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --main-color: #d33030;
    --hover-color: #e25d5d;
    --text-color: #cccccc;
    --nav-color: #020202;
    --body-color: #2e2e2e;
    --side-nav: #242526;
    --text-color-lg: #4f4f4f;
    --nav-line: #e13e3e;
    --content-title: #ffffff;
    --content-background: #000000bf;
    --footer-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
    transition: all 400ms cubic-bezier(.08, .82, .17, 1);
}

body {
    /* background-image: linear-gradient(346deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 22%,rgba(140, 140, 140,0.04) 22%, rgba(140, 140, 140,0.04) 69%,rgba(225, 225, 225,0.04) 69%, rgba(225, 225, 225,0.04) 100%),linear-gradient(31deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 42%,rgba(140, 140, 140,0.04) 42%, rgba(140, 140, 140,0.04) 85%,rgba(225, 225, 225,0.04) 85%, rgba(225, 225, 225,0.04) 100%),linear-gradient(55deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 13%,rgba(140, 140, 140,0.04) 13%, rgba(140, 140, 140,0.04) 72%,rgba(225, 225, 225,0.04) 72%, rgba(225, 225, 225,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0)); */
    background-image: url(/img/background/mount-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--body-color);
}

body.light {
    --body-color: #969696;
    --nav-color: #5b5b5b;
    --side-nav: #4e5153;
    --text-color: #CCC;
    background-image: url(/img/background/mount-light.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--body-color);
}


.norm-txt {
    font-size: 1rem;
    line-height: 1.5rem;
}

.body-fix {
    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    min-height: 100vh;
}